<header class="d-flex flex-row-nowrap justify-content-center p-20">
	<div class="content flex-fill d-flex flex-row-nowrap justify-content-between align-items-center">
		<a href="{{ path('home')}}" class="header-logo">
			<img src="{{ asset('img/logo.svg')}}" alt="Logo">
		</a>
		<div class="header-search p-10 flex-fill">
			<i class="fas fa-search"></i>
			<input type="text">
		</div>
		{%- if is_granted('IS_AUTHENTICATED_FULLY') -%}
			<div class="d-flex flex-row-nowrap justify-content-center">
				<a href="{{ path('current_user')}}">
					<img src="{{ app.user.picture }}" alt="{{app.user.firstname}}" class="avatar avatar-lg mr-10">
				</a>
				<small class="d-flex flex-column justify-content-center">
					<a href="{{ path('logout')}}">Déconnexion</a>
				</small>
			</div>
		{%- else -%}
			<div>
				<a href="{{ path('signup')}}" class="btn btn-primary mr-5">inscription</a>
				<a href="{{ path('login')}}" class="btn btn-primary-stroke">Connexion</a>
			</div>
		{%- endif -%}


	</div>
</header>
