<header class="d-flex flex-row-nowrap justify-content-center p-20">
	<div class="content flex-fill d-flex flex-row-nowrap justify-content-between align-items-center">
		<a href="{{ path('home')}}" class="header-logo">
			<img src="{{ asset('build/images/logo.svg')}}" alt="Logo">
		</a>
		<div id="search" class="header-search p-10 flex-fill d-flex flex-row align-items-center">
			<i class="fas fa-search mr-10"></i>
			<input @input="updateInput" ref="input" type="text" class="flex-fill">
			<img v-if="isLoading" src="{{ asset('build/images/loading.gif')}}" alt="loader" class="header-search-loading">
			<ul v-if="questions?.length" class="header-search-result d-flex flex-column">
				<a v-for="question in questions" :key="question.id" :href="'/question/' + question.id">${ question.title }$</a>
			</ul>
			<p v-else-if="$refs.input && $refs.input.value.length > 0 && !questions?.length" class="header-search-result header-search-empty">
				Aucun résultat trouvé...
			</p>
		</div>
		{%- if is_granted('IS_AUTHENTICATED_FULLY') -%}
			<div class="d-flex flex-row-nowrap justify-content-center hide-xs">
				<a href="{{ path('current_user')}}">
					<img src="{{ asset(app.user.picture) }}" alt="{{app.user.firstname}}" class="avatar avatar-lg mr-10">
				</a>
				<small class="d-flex flex-column justify-content-center">
					<a href="{{ path('logout')}}">Déconnexion</a>
				</small>
			</div>
		{%- else -%}
			<div class="hide-xs">
				<a href="{{ path('signup')}}" class="btn btn-primary mr-5">inscription</a>
				<a href="{{ path('login')}}" class="btn btn-primary-stroke">Connexion</a>
			</div>
		{%- endif -%}
		<div class="show-xs burger">
			<i class="fas fa-bars"></i>
		</div>
	</div>
</header>
<div class="menu-xs d-flex flex-column hidden">

	{% if  is_granted('IS_AUTHENTICATED_FULLY')  %}
		<a href="{{ path('current_user') }}" class="btn btn-primary mr-5">Profil</a>

		<a href="{{ path('logout') }}" class="btn btn-warning">Déconnexion</a>
	{% else %}
		<a href="{{ path('signup')}}" class="btn btn-primary mr-5">inscription</a>
		<a href="{{ path('login')}}" class="btn btn-primary-stroke">Connexion</a>
	{% endif %}

</div>
